@use '@theme/commons.scss' as *;

.divContent {
  display: flex;
  height: 100%;
  width: 1000px;
  padding: 3rem;
  margin-block: 5rem;

  align-items: start;
  justify-content: center;
  text-align: start;

  border: solid 2px #fff1;
  border-radius: 1rem;
  background: #fff2;

  overflow: scroll;
}

.background {
  width: 100%;
  height: 100%;
  flex: 1;
  padding-block: 5rem;
  background: teal;
}

.card {
  width: 600px !important;
  height: 400px !important;
  overflow: clip;
}

.cardBanner {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.cardContent {
  height: 50%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.highlightsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
