@import '@theme/commons.scss';

.rootContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $background;
  z-index: 0;
}

.cardProject {
  width: 250px;
  justify-content: center;
  text-align: center;
  height: 100%;
}
