.normalButton {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  padding: 5px;
  background-color: #333;
  box-shadow: 3px 3px #000;
}

.normalButton:hover {
  background-color: #666;
}
