.divBlur {
  backdrop-filter: blur(10em);
  z-index: -998;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes blobanim {
  from {
    rotate: 0deg;
    aspect-ratio: 1;
  }

  50% {
    rotate: 180deg;
    aspect-ratio: 0.8;
  }

  to {
    rotate: 360deg;
    aspect-ratio: 1;
  }
}

.divBlob {
  height: 60vmax;
  border-radius: 50%;
  translate: -50% -50%;
  background-image: linear-gradient(#f5165d, #3086e9);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -999;
  animation: blobanim 20s infinite;
}

.divContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
